header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #54aeeb;
    border-bottom: 2px solid #091cc7;
    position: sticky;
    top: 0;
}


#img1, #img2, #img3, #img4 {
    width: 150px;
    height: auto;
    margin: 20px;
}

#img1 {
    float: right;

}

#img2 {
    float: left;

}

#img3 {
    float: right;

}

#img4 {
    float: left;

}


p {
    text-align: justify;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: aquamarine;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
    margin-right: 1rem;
}

.titulo {
    font-size: 2rem;
    color: #141313;
}

.menu {
    position: relative;
    top: 80px;
    right: 50px;
    margin-left: auto;
    display: flex;
    gap: 1em;
}

.nav-links {
    margin-right: auto;
    margin-bottom: auto;
}

.nav-links a {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #091cc7;
}

.valoracion {
  max-width: 600px;
  margin: 50px auto;
  padding: 1rem;
  background-color: #e8f6ff;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
  font-family: Arial, sans-serif;
}

.estrellas .puntualidad {
  margin-bottom: 1rem;
}

.estrellas label {
  font-size: 1.5rem;
  cursor: pointer;
}

textarea {
  width: 100%;
  resize: vertical;
  margin-top: 0.5rem;
}
