header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #54aeeb;
    border-bottom: 2px solid #091cc7;
    position: sticky;
    top: 0;
}

body {
    margin-left: 100px;
    margin-right: 100px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
    margin-right: 1rem;
}

.titulo {
    font-size: 2rem;
    color: #141313;
}

.menu {
    margin-left: auto;
    display: flex;
    gap: 1em;
}

.nav-links {
    margin-right: auto;
    margin-bottom: auto;
}

.nav-links a {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #091cc7;
}
