header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #54aeeb;
    border-bottom: 2px solid #091cc7;
    position: sticky;
    top: 0;
}


.img1 {
    display: flex;
    top: 50px;
    width: 150px;
    height: auto;
    float: right;
    margin-left: 20px;

}

.img2 {
    display: flex;
    align-items: flex-start;
    width: 150px;
    height: auto;
    float: left;
    margin-left: 20px;
    
}

.img3 {
    display: flex;
    top: 300px;
    align-items: flex-end;
    width: 150px;
    height: auto;
    float: right;
    margin-left: 20px;

}

.img4 {
    display: flex;
    align-items: end;
    width: 150px;
    height: auto;
    float: left;
    margin-left: 20px;

}

p {
    text-align: justify;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: aquamarine;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
    margin-right: 1rem;
}

.titulo {
    font-size: 2rem;
    color: #141313;
}

.menu {
    position: relative;
    top: 80px;
    right: 50px;
    margin-left: auto;
    display: flex;
    gap: 1em;
}

.nav-links {
    margin-right: auto;
    margin-bottom: auto;
}

.nav-links a {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #091cc7;
}
